.artist-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .hero-section {
        height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: black;
    }

    .leftsection {
        position: relative;
        width: 55%;
        height: 100%;
        display: flex;
        padding: 0px 60px;
        flex-direction: row;
        align-items: center;
        background-color: black;

//         &::after {
//             position: absolute;
//             content: '';
//             background-color: green;
//             margin-right:-4px;
//             top: 0;
//             right: 0;
//             height: 100%;
//             width: 100px;
//             border-radius: 50% 0% 0 50%;
//             -webkit-border-radius:;
//             -moz-border-radius:;
//             -ms-border-radius:;
//             -o-border-radius:;
// }

        .content {
            max-width: 500px;
            width: 100%;
            display: flex;
            flex-direction: column;

            h1 {
                text-transform: uppercase;
                font-family: Poppin-Bold;
                font-size: 36px;
                color: rgb(255,255,255);
                animation-name: glow;
                animation-delay: 2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            p{
                color:white;
                font-family: Popper-Regular;
                font-size: 20px;
            }

        }
    }

    .rightsection {
        width: 45%;
        height: 100%;
        background: url('../assets/images/hero-image.jpg') bottom no-repeat;
        background-size: cover;
        border: 1px solid transparent;
        overflow: hidden;
        border-bottom-left-radius: 45%;
        border-top-left-radius: 45%;}
}

@keyframes glow {
    from {
        text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
    }

    to {
        text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
    }}