@import './variables.scss';

.event-card-container {
    // max-width: 350px;
    width: 385px;
    padding: 8px 10px;
    background-color: $white;
    border: 1px solid $white;

    .header {
        padding: 4px 0px;
        color: $black;
        font-family: Poppins-Bold;
        border-bottom: 1px solid $gray;
    }

    .content {
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            column-gap: 4px;
        }

        .col {
            display: flex;
            flex: .5;
            flex-direction: column;
            gap: 2px;

            p {
                margin-bottom: 0px;
            }

            .heading {
                color: $black;
                font-family: Poppins-Regular;
                font-size: 16px;
            }
            .subheading {
                color: $dim-gray;
                font-family: Poppins-Regular;
                font-size: 15px;
            }
        }

    }
}