@import './variables.scss';
@import './mixins.scss';


.container {
    background: url('../assets/images/landing-image.jpg') center no-repeat;
    background-size: cover;
    padding: 0px 0px 40px 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .section-overlay {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 10px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .form-section {
        max-width: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
        gap: 10px;

        h1 {
            font-size: 40px;
            color: white;
            text-align: center;
            animation-name: glow;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        p {
            @include description;
            margin: 0;
            font-size: 18px;
        }

        .btn-group {
            margin: auto;
        }
    }

}