@import './variables.scss';

.group-input{ 
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    
    .searchbar {
    border: none;
    background-color: $white;
    color: black;
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    font-size: 16px;

    &::placeholder {
        font-size: 16px;
        color: $dark-gray;
    }

    &:focus {
        outline: none;
    }
    }

    .icon{
        position: absolute;
        right: 10px;
        font-size: 20px;
        color:$dim-gray;
        pointer-events: none;
    }
}